$primary-color: rgb(255, 244, 85);
$secondary-color: #000000;
$terciary-color: white;
$bgcolor: blue;
$font-color: #ffff;
$box-shadow: 0 2px 10px 0 black;
$limit: 10;
$unit: 8px;
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$photo-size: 500px;