body{
	background-color: $primary-color;
    color: $secondary-color;
}
img{
	max-width: 100%
}
.main-index{
	height: 100%;
}
.header__bg{
	background-blend-mode: multiply, multiply, normal;
	display: block;
}
.navbar .collapse.navbar-collapse{
    flex-grow: inherit;
}
.navbar a{
    color: $secondary-color;
}
.navbar .navbar-toggler{
    border-color: $secondary-color;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.tittlepag{
	font-size: 56px;
}
.tittlep{
	font-size: 24px;
}
.container{
    h2{
        color: $secondary-color;
    }
}
.header__content{
	height: calc(100vh - 56px);
}

@media (min_width: 576px){
	.header__img{
		width: auto;
		height: auto;
		object-fit: cover;
	}
	.img-fluid{
		width: auto;
		height: auto;
		object-fit: cover;
	}
	@media (min_width: 1024px) {
		.zapas-uno{
			padding: 80px 120px;
		}
		
	}
@media (max-width: 347px) {
	.header__img{
		width: auto;
		height: auto;
		object-fit: cover;
	}
	
}
	.zapas-uno{
		width: auto;
		height: auto;
		object-fit: cover;
	}
	
}
.marcas{
	background-color: $primary-color;
	padding: 80px 120px;
	margin-top: 50px;
}
.zapas-uno{
	background-color: $primary-color;
	padding: 40px 0;
	
}


.tabla-zapas1{
	background-color:#ffffff ;
}
.btn{
	margin-top: 10px;
	flex: content;
	width: fit-content;
	background-color: transparent;
	color: #000000;
	border: 1px solid #000000;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 400;
	margin-top: 48px;
}
.form-group{
	max-width: 674px;
	margin: 0 auto;
	text-align: center;
}
.sesion{
	margin-top: 100px;
}
.table{
	margin-top: 5px;
}
.banner{
	background-color: $primary-color;
	padding:40px 0;
  }
  
  .banner div:first-child{
	max-width: 674px;
	margin: 0 auto;
	text-align: center;
  }
  
  .banner h2{
	font-size: clamp(3rem, 10vw, 100px);
  }
  
  .banner p{
	font-size: 16px;
  }
  
  .banner__button{
	width: fit-content;
	background-color: transparent;
	color: $secondary-color;
	border: 1px solid  $secondary-color;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 400;
	margin-top: 48px;
  }
  footer{
	background-color: #ffffff;
  }
  
  .footer__content{
	padding: 40px 0;
  }
  
  @media (min-width:1024px) {
	.footer__content{
	  padding: 80px 120px;
	}
  }
  
  .footer__nav{
	border-bottom: 1px solid #000000;
	padding-bottom: 40px;
  }
  .svg{
	width: 50px;
	height: 50px;
  }
  
  .footer__content nav ul{
	list-style: none;
	padding: 0;
	display: flex;
	gap: 20px;
  }
  