*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: $primary-color;
}
.logo{
    color: $primary-color;
}
a{
    color: terciary-color;
    text-decoration: none;
}

h2{
    color: $primary-color;
    font-weight: bolder;
    font-size: size(6);
}
h3{
    color: $primary-color;
    font-weight: lighter;
    font-size: size(3);
}
.texto{
    color: $primary-color;
}
.container-zapatillas{
    background-color: $primary-color;
    margin: 100px auto;
    width: 1520px;
    height: 2200px;
    padding: 50px;
    box-shadow: 0 0 20px 2px $secondary-color;

    background-image: url(/assets/img/fondozapatillas.jpg);
    background-size: 100% 100%;


  @include small-screen {
    display: flex;
    flex-wrap: wrap;
  }

  @include medium-screen {
    display: flex;
    flex-wrap: wrap;
  }

  @include large-screen {
    display: flex;
    flex-wrap: wrap;
  }
}

.photo {
    width: $photo-size;
    height: $photo-size;
  }
  
ul{
    list-style: none;
    display: flex;
    gap: 20px;
    li{
        a{
            @include btn($background-color: $primary-color,
                         $color: $secondary-color,
                         $bold: "true" );
         &:hover{
            @include btn($terciary-color, $secondary-color, "false");
            box-shadow: $box-shadow;
         }   
        }
    }
}

header{
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.prices{
    .prev{
        font-size: size(2);
        font-weight: bolder;
        color: $font-color;
        text-decoration: line-through;
        .now{
            a{
                color: $terciary-color;
            }
            font-size: size(5);
            font-weight: bolder;

        }
    }
}
img {
    transition: opacity 0.3s ease;
  }
  
  img:hover {
    opacity: 0.9;
  }
  
.prices{
    color: $secondary-color;
    font-weight: bolder;
}

.productos{
    
    margin-top: 200px;
}
.pruductos2{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}  
.comprar{
    margin-top: 30px;
}
.navbar .collapse.navbar-collapse{
    flex-grow: inherit;
}
.navbar a{
    color: $secondary-color;
}
.navbar .navbar-toggler{
    border-color: $secondary-color;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.tittlepag{
	font-size: 56px;
}
.tittlep{
	font-size: 24px;
}
.header__content{
	height: calc(100vh - 56px);
}
.footer__content{
    background-color: $terciary-color;
}